@model RecipeManager.Models.Recipe

@{
    ViewData["Title"] = "View";
}

<div class="card" id="recipe-viewer">
    <div class="card-body">
        <h2>@Html.DisplayFor(model => model.Title)</h2>
        <p class="lead">@Html.DisplayFor(model => model.Description)</p>
        <p><strong>Steps:</strong></p>
        <ol>
            @foreach (var step in Model.RecipeSteps)
            {
                <li>@step.Step</li>
            }
        </ol>
        <p><strong>Notes:</strong></p>
        @Html.DisplayFor(model => model.Notes)
    </div>
</div>


<div>
    @if (SignInManager.IsSignedIn(User) && Model.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        <span> &vert; </span>
    }
    <a asp-action="Index">Back to List</a>
</div>
